/*General styles -START*/

* {
    box-sizing: border-box;
    
}

body {
    font-family: 'Lato', sans-serif;
    color: #291f1a;
    margin: 0;
    background-color: cyan/* background roboczy */
}


h2{
    text-align: center;
}

a{
    transition: all .3;
}

span.green{
    color: #1ac056;
    font-weight: 400;
}

.col-1-2{
    width: 50%;
    float: left;
}

/*Main nav style - START*/


#main-nav {
    background-color: #fff;
    position: fixed;
    z-index: 10;
    width: 100%;
}


#main-nav ul {
    margin: 0;
    text-align: right;
}

#main-nav ul li {
    display: inline-block;
    padding: 25px;
}


#main-nav ul li a {
    text-decoration: none;
    color: #1ac056;
    font-weight: 300;
    text-transform: lowercase;
}


#main-nav ul li a:hover {
    color: #291f1a;

}

/*General styles -STOP*/

/*Main header styles - START*/

#main-header {
    background-image: 
    url(../img/header-background.jpg);
    background-position: center;
    background-size: cover;
    height: 90vh;
    position: relative;
    
}


#main-header .header-caption{
    color: #fff;
    font-family: 'Roboto', sans-serif;
    position: absolute;
    text-align: center;
    
    left: 0;
    right: 0; /*lub width: 100%; */
    top: 50%;
    transform: translateY(-50%);
}


#main-header .header-caption h1{
    font-size: 4em;
    font-weight: 300;
    
}

#main-header .header-caption h2{
    font-size: 2em;
    font-weight: 300;
    
}


/*Main header styles - STOP*/


/*About Section styles - START */

#about{
    background-color: #f9fcfe;
    overflow: hidden;
    box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.75);
}

/*2 opcja do about która również pasuje #about::after {
    float: clear;
    content: '';
}*/

#about figure{
    margin: 0;
    text-align: center;
}

#about figure img{
    max-height: 350px;
    max-width: 100%;
    border: 10px solid #fff;
    border-radius: 10px;
}


#about div p{
    font-weight: 300;
    line-height: 24px;
}


/*About Section styles - STOP */


/*Section Skills Styles - START */

#skills > p {
    text-align: center;
    font-weight: 300;
}

#skills div#skills-icons {
    text-align: center;
}

#skills #skills-icons figure{
    display: inline-block;
}

#skills #skills-icon figure img{
    margin-bottom: 15px;
}

/*Section Skills Styles - STOP */

/*Section Portfolio Styles - START */

#portfolio #portfolio-item-1 {
    background-image: url(../img/portfolio1.jpg);
}


#portfolio #portfolio-item-2 {
    background-image: url(../img/portfolio2.jpg);
}



#portfolio #portfolio-item-3 {
    background-image: url(../img/portfolio3.jpg);
}
/*Section Portfolio Styles - STOP*/