/*General styles -START*/

* {
    box-sizing: border-box;
    
}

body {
 font-family: 'Lato', sans-serif;
    color: #291f1a;
    margin: 0;
    background-color: antiquewhite /* background roboczy */
}

a{
    transition: all .3;
}


/*Main nav style - START*/


#main-nav {
    background-color: #fff;
}


#main-nav ul {
    margin: 0;
    text-align: right;
}

#main-nav ul li {
    display: inline-block;
    padding: 25px;
}


#main-nav ul li a {
    text-decoration: none;
    color: #1ac056;
    font-weight: 300;
    text-transform: lowercase;
}


#main-nav ul li a:hover {
    color: #291f1a;

}

/*General styles -STOP*/

